@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial-Black.ttf');
}
@font-face {
    font-family:'Sero Pro';
    src:url('../fonts/SeroPro.otf');
}
body {
    font-family:'Sero Pro';
}
.share{
    display: inline-block;
    position: relative;
    top: 13px;
}
.modalDialog1 {
}
.main_page {
    background-image: url(../images/bg_top.jpg);
    background-size: cover;
    background-position: top center;
    min-height: 900px;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.menu {
    background-color: rgba(2, 37, 58, 0.47);
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    width:235px;
}

.block1 {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    text-align: center;
    padding: 14px;
}

.right_block {
    float: right;
}

.text_links {
    color: #fff;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 10px;
}

.block11 {
    background-image: url(../images/bg_link.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 253px;
}
.top_block > div{
    display:table-cell;
    width:20%;
}
.main_title {
    font-size: 115px;
    text-align: center;
    font-family: 'Arial Black';
    color: #fff;
}

.rows_banner {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text1_servic {
    font-size: 68px;
    font-family: 'Arial Black';
    line-height: 70px;
    margin-bottom: 0;
}

.text2_servic {
    font-size: 24px;
}

.list_title {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    color: #042545;
}

.slider_1 div img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin: 0 auto;
}
.slider_1 .slick-list{
    width: 90%;
}
.slider_1 {
    height: 210px;
    overflow: hidden;
}


.grid-item:hover .inset_text {
    display: block;
}

.inset_text {
    display: none;
    background-color: rgba(2, 37, 58, 0.72);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.inset_center_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.grid {
    margin: 0 auto;
    z-index: 1;
}

.grid-item {
    width: 350px;
    height: 222px;
    margin: 10px;
    border: 1px solid #042545;
}

.grid-item img {
    width: 100%;
    height: 219px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 10px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 10px 2px rgba(102, 102, 102, 0.35);
}

.grid-item--height2 {
    height: 371px;
}

.grid-item--height2 img {
    max-width: 100%;
    height: 368px;
	    object-fit: cover;
}

.grid-item--height3 {
    height: 559px;
}

.grid-item--height3 img {
    max-width: 100%;
    height: 556px;
    object-fit: cover;
}

.inset-2 {
    color: #9d9fa7;
    font-size: 13px;
    border-top: 1px solid #000;
    padding-top: 10px;
}

.img_reclam {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    height:217px;
}

.bottom_content {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 900px;
    padding-top: 11%;
}

.title_1 {
    color: #fff;
    text-align: center;
}

.buttons1 {
    text-align: center;
}
.bottom_content .nav-tabs{
    border-bottom: 0;
}
.buttons:hover {
    background-color: #042545;
}

.tab_buttons1 a {
    background-image: url(../images/bg_button1_r.png);
    color: #fff;
    padding: 7px 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 270px;
    display: inline-block;
    font-size: 27px;
    margin: 7px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s
}

.tab_buttons1 a:hover,
.tab_buttons1 a.active {
    background-image: url(../images/bg_button1.png);
    color: #042545;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: none;
}

.tab_buttons2 a {
    background-image: url(../images/bg_button2_w.png);
    color: #000;
    padding: 7px 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 270px;
    display: inline-block;
    font-size: 27px;
    margin: 7px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s
}

.tab_buttons2 a:hover {
    background-image: url(../images/bg_button2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-decoration: none;
}

.text_date {
    font-size: 26px;
    color: #042545;
}

.text_date > span {
    font-size: 13px;
}

.block_member {
    background-color: #fff;
    border-radius: 6px;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 502px;
}

.text_member {
    padding: 25px 15px;
    position: relative;
    min-height: 270px;
    position: relative;
}

.info_text {
    font-size: 16px;
}

.more_info {
    background-color: #ff5252;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 4px;
    width: 110px;
    max-width: 100px;
    padding: 10px 15px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    margin-bottom: 15px;
    margin-top: 15px;
        position: absolute;
    bottom: 0;
}

.more_info:hover {
    background-color: #042545;
}

.it_was {
    font-size: 21px;
    color: #fff;
    background-color: #042545;
    padding: 5px 17px;
    position: absolute;
    top: -20px;
    right: 15px;
    min-width: 125px;
    text-align: center;
}

.img_member img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.will_be {
    background-color: #ff5252;
}



.slider_2 img {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider_2 div {
    height: 130px;
    position: relative;
}

.footer {
    background-color: #252b38;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: -20px;
}

.link_bg {
    margin-top: 25px;
}

.link_bg a {
    color: #fff;
}

.menu_inside {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.94);
    display: none;
}

.inset_menu_top {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: right;
}

.inset_menu_center h3 {
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 1em;
}

.inset_menu_center a {
    color: #000;
}

.inset_menu_center ul {
    padding-left: 0;
}

.inset_menu_center ul li {
    list-style: none;
    font-size: 18px;
    line-height: 28px;
}

.inset_menu_center {
    margin-bottom: 2em;
}

.inside_menu_footer {
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.inside_menu_footer h4 {
    font-size: 18px;
    line-height: 23px;
}

.inside_menu_footer h6 {
    color: #c5c5c5;
}

.close_menu {
    cursor: pointer;
    margin-right: 12px;
}

.list_menu {
    display: block;
}

.button_click {
    outline: none;
}

.modal-footer {
    border-top-color: transparent;
}

.modal-header {
    border-bottom-color: transparent;
    padding: 10px;
    ;
}

.modal-content {
    border-radius: 0;
    color: #252b38;
    text-align: center;
}

.title_modal {
    font-size: 25px;
    text-align: center;
}

.modal-header .close {
    color: #252b38;
}

.input_modal {
    height: 40px;
    border: 1px solid #252b38;
    width: 92%;
    margin: 1%;
    padding: 4px;
    outline: none;
    font-size: 16px;
}

.submit_modal {
    float: right;
    margin-right: 5px;
    background-color: #252b38;
    color: #fff;
    font-size: 16px;
    border: 0;
    margin-top: 15px;
    padding: 7px 15px;
    ;
}

#myModal2 li {
    text-align: left;
    font-size: 15.38px;
    line-height: 31px;
    list-style: none
}

#myModal2 li span {
    color: #fff;
    background-color: red;
    padding: 4px 10px;
    border-radius: 50%;
    margin-right: 7px;
}

#myModal2 ol {
    padding-left: 15px;
}

button {
    outline: none;
}

.content_about {
    height: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 30px;
}
.content_about img{
    width: 100%;
}
.content_about::-webkit-scrollbar {
    width: .7em;
}

.content_about::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 96, 220, 0.71);
}

.content_about::-webkit-scrollbar-thumb {
    background-color: #252b38;
    outline: 1px solid slategrey;
    border: 1px solid #fff;
    border-radius: 5px;
}

.content_top {
    margin-top: 6%;
    /*padding-bottom: 3em;*/
    min-height: 68vh;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
    font-size: 20px;
}

.breadcrumb li a {
    color: #75838c;
}

.breadcrumb li.active {
    color: #252b38;
}

.header_us_page {
    background-color: #02253a;
}

.buttons {
    color: #fff;
    width: 230px;
    text-align: center;
    font-size: 22px;
    background-color: #ff5252;
    padding: 10px 15px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    border: 0px;
    margin: 1em auto;
}

.target_tabs .nav-tabs>li {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    width: 100%;
}

.target_tabs .nav-tabs>li>a {
    font-size: 15px;
    padding: 15px;
    color: #02253a;
    margin-right: 0;
}

.slider-for img {
    width: 850px;
    height: 400px;
    margin: 0 auto;
    object-fit: cover;
}

.target_tabs .nav-tabs>li.active>a,
.target_tabs .nav-tabs>li.active>a:hover,
.target_tabs .nav-tabs>li.active>a:focus,
.target_tabs .nav-tabs>li>a:hover {
    border-color: transparent;
    background-color: #02253a;
    color: #fff;
    border-radius: 0;
}

.target_tabs .nav-tabs {
    border-bottom: 1px solid transparent;
}

.title_tab {
    font-size: 23px;
    text-transform: uppercase;
    color: #02253a;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    margin-top: 0;
}

.content_tab_text {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    padding: 15px 15px 30px 15px;
    color: #02253a;
}

.content_tab_text ul li {
    margin-bottom: 15px;
    line-height: 23px;
}

.box .bottom {
    display: none;
    font-size: 18px;
    color: #02253a;
    padding: 15px;
}

.box .bottom li {
    line-height: 30px;
}

/*.box .bottom p {*/
    /*font-weight: 600;*/
    /*font-size: 20px;*/
/*}*/

.top {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    padding: 10px;
    margin: 15px 0;
    font-size: 23px;
    cursor: pointer;
}

.top p {
    margin-bottom: 0;
    color: #75838c;
}

.info_address {
    background-color: #aa3434;
    color: #fff;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    border-radius: 7px;
    padding: 7px 15px;
    position: relative;
    width: 93%;
    float: right;
    margin-bottom: 35px;
    height: 75px;
}

.icon_address {
    position: absolute;
    left: -35px;
    top: 0;
}

.number_phone {
    font-size: 31px;
    line-height: 30px;
}

.email_address {
    line-height: 61px;
    font-size: 31px;
}

.bank_details,
.bank_details:hover,
.bank_details:focus {
    color: #02253a;
    outline: none;
}

.banks_detal {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}

.modal-body {
    padding: 0px 20px 20px 20px;
    ;
}

.maps {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
}

.mix .block_member {
    border: 1px solid #02253a;
}

#link .mix {
    display: none;
}

.link {
    text-align: center;
}

.filter {
    font-size: 27px;
    color: #fff;
    background-color: #d34d4d;
    padding: 7px 15px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.filter:hover,
.filter.active {
    background-color: #02253a;
}

.mamber_img,
.mamber_img img {
    position: relative;
}

.mamber_block .it_was {
    top: 0;
}

.bottom_info {
    background-color: #ff5252;
    color: #fff;
    padding: 7px;
    font-size: 21px;
    margin-bottom: 7px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
}

.bottom_info span {
    margin-right: 13%;
}

.bottom_info span img {
    margin-right: 5px;
}

.down_link {
    font-size: 27px;
    line-height: 51px;
}

.down_link a {
    color: #ff5252;
    text-decoration: none;
}

.info_mamber {
    font-size: 15px;
    line-height: 35px;
    color: #02253a;
}

.text_mamber {
    color: #02253a;
    font-size: 17px;
    /*text-align: center;*/
    padding-left: 40px;
    padding-right: 40px;
}

.title_mamber {
    font-size: 23px;
    text-align: center;
    line-height: 28px;
}

.text_content_mamber {
    font-size: 15px;
    line-height: 35px;
    text-align: left;
}

.inside_title {
    margin-bottom: 2em;
    margin-top: 2em;
}

.img_mamber {
    width: 100%;
    height: 369px;
    object-fit: cover;
}

.img_block {
    height: 328px;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
}
.img_block img{
    height: 100%;
    width: 100%;
}
.img_block iframe{
    height: 100%;
    width: 100%;
}
.content_otzyvy,
.content_support {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.35);
    padding-top: 15px;
    padding-bottom: 15px;
}

.content_support {
    padding: 15px 25px;
    height: 600px;
    overflow: auto;
}

.content_support::-webkit-scrollbar {
    width: .7em;
}

.content_support::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 96, 220, 0.71);
}

.content_support::-webkit-scrollbar-thumb {
    background-color: #252b38;
    outline: 1px solid slategrey;
    border: 1px solid #fff;
    border-radius: 5px;
}

.content_support p {
    color: #02253a;
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 2em;
}

.link_damu,
.link_damu:hover {
    color: #ff5252;
}

.img_suuport {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    height: 185px;
    overflow: hidden;
    position: relative;
}
.sale{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #df3c24;
    width: 46px;
    height: 46px;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
}
.img_suuport img {
   width: 100%;
    height: 185px;
    object-fit: contain;
    padding: 5px;
}

.link_support {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    text-align: center;
    position: relative;
    height: 65px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.link_support p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
}

.link_support a {
    color: #02253a;
}

.content_support li {
    color: #02253a;
    font-size: 18px;
    line-height: 45px;
}

.blocks_mambers {
    margin-bottom: 2em;
}

.info_direction {
    text-align: center;
    width: 226px;
    display: block;
    font-size: 12px;
    margin: 7px auto;
    max-width: 100%;
    padding: 7px;
    color: #02253a;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    height: 70px;
}

.img_direction img {
    width: 226px;
    height: 225px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    margin-bottom: 10px;
}

.blocks_directions {
    margin-bottom: 2em;
    min-height: 311px;
}

.select_list {
    font-size: 23px;
    padding: 10px 15px;
    width: 700px;
    max-width: 100%;
    color: #02253a;
    outline: none;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    margin-bottom: 10px;
}

.select_list option {
    cursor: pointer;
}

.text_news {
    font-size: 21px;
    color: #02253a;
    line-height: 30px;
}

.sharies {
    padding: 7px 25px;
    display: inline-block;
    margin-top: 15px;
    /*background-color: #ff5252;*/
    color: #02253a;
    font-size: 30px;
    margin-right: 15px;
}

.share a {
    margin-right: 7px;
}

.icons {
    background-color: #475977;
    width: 58px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    top: 30%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.icons > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.right_show {
    margin-top: 25px !important;
}

.slider-nav .slick-slide.slick-current {
    border-color: #fff;
}
.slider-nav img{
    height: 182.5px;
    object-fit: cover;
}
.slider-nav .slick-slide {
    border: 6px solid transparent;
    outline: none;
}

.rezume_block {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    position: relative;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-image: url(../images/pdf.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    max-width: 100%;
}

.post_work {
    background-color: #ff5252;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
}

.name_worker {
    color: #adadad;
    font-size: 22px;
    text-align: center;
}

.worker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
}

.input_holders {
    border-bottom: 2px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 235px;
    height: 40px;
    outline: none;
    font-size: 18px;
    max-width: 100%;
}

.input_holders:focus {
    border-bottom-color: #ff5252;
    ;
}

.info_data {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    padding: 10px;
    min-height: 400px;
}

.info_data table {
    font-size: 20px;
    width: 100%;
}

.info_data td {
    padding: 10px;
    color: #02253a;
    border: 1px solid #ccc;
}

.icon_mob {
    text-transform: uppercase;
    color: #fff;
}
.add_advert {
    color: #fff;
    background-color: #02253a;
    font-size: 24px;
    float: right;
    border: 0;
    padding: 10.5px;
}

.add-advert input[type=text] {
    width: 665px;
    height: 55px;
    padding: 10px 15px;
    max-width: 100%;
    border: 1px solid #000;
    margin-bottom: 1em;
    font-size: 20px;
}
.add-advert input[type=submit]{
    background-color: #02253a;
    color: #fff;
    font-size: 24px;
    border: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 5px 15px;
    display: block;
}
.add-file input[type=file]{
    height: 43px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    width: 5px;
}
.add-file{
    margin-bottom: 10px;
    display: inline-block;
    width: 230px; 
    white-space: nowrap;
    max-width: 100%;
    background-size: 100% 100%;
    position: relative;
    background-color: #02253a;
    color: #fff;
    padding: 5px 15px;
    font-size: 24px;
}
.add-advert select {
    width: 665px;
    border: 1px solid #000;
    height: 55px;
    margin-bottom: 1em;
    font-size: 20px;
    padding: 10px 15px;
    max-width: 100%;
}
.add-advert textarea{
    width: 900px;
    max-width: 100%;
    border: 1px solid #000;
    height: 415px;
    margin-bottom: 1em;
    font-size: 20px;
    padding: 15px;
}
.add-advert{
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    -moz-box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);
    box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.35);

}
.info-address p{
    min-height: 35px;
    padding-left: 45px;
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 24px;
    font-size: 16px;
}
.content-modal .modal-content{
    text-align: left;
    background-repeat: no-repeat;
    background-size: 130px;
}

.content-b2b img{
    /*width: 300px;*/
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.info-address a{
    display: block;
    overflow: hidden;
}
.shar{
    display: inline-block;
}
.share{
    display: inline-block;
    position: relative;
    top: -6px;
}
@media(min-width: 768px) {
    .modal-dialog {
        width: 525px;
        margin: 30px auto;
    }
    .content-modal{
        width: 750px;
    }
    .content-modal .modal-body {
        padding: 25px 55px;
    }
}

@media(max-width:1600px) {
    .text_links {
        font-size: 14px;
    }
    .block1 {
        padding: 24px;
    }
    .main_title {
        font-size: 100px;
    }
    .text1_servic {
        font-size: 53px;
    }
    .text2_servic {
        font-size: 20px;
    }
}
@media (max-width: 1366px){
    .list_title {
        padding-top: 20px;
    }
}

@media(max-width:1200px) {
    .block1 {
        padding: 14px;
    }
    .main_title {
        font-size: 92px;
    }
    .text1_servic {
        font-size: 45px;
    }
    .text2_servic {
        font-size: 18px;
    }
    .content_top {
        margin-top: 12%;
    }
    .slider-for img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .icon_mob a img {
        width: 80px;
    }
}

@media(max-width:992px) {
    .logo {
        width: 191px;
    }
    .icon-2 {
        width: 46px;
    }
    .icon-1 {
        width: 24px;
    }
    .text_links {
        font-size: 13px;
    }
    .main_page {
        min-height: 750px;
    }
    .list_title {
        font-size: 30px;
    }
    .grid-item {
        width: 300px;
    }
    .img_member img {
        height: 200px;
    }
    .text_mamber {
        padding-left: 15px;
        padding-right: 15px;
    }
    .img_mamber {
        height: 282px;
    }
    .text_content_mamber,
    .info_mamber {
        line-height: 28px;
    }
    .bottom_info span {
        margin-right: 5%;
    }
    .down_link {
        font-size: 22px;
        line-height: 38px;
    }
    .img_block {
        height: 220px;
    }
    .content_support p {
        font-size: 16px;
    }
    .text_news {
        font-size: 26px;
        line-height: 30px;
    }
}

@media(max-width:800px) {
    .img_member img {
        height: 155px;
    }
}

@media(max-width:767px) {
    .text_links {
        display: none;
    }
    .icon-2 {
        width: 35px;
    }
    .icon-1 {
        width: 18px;
    }
    .block11 {
        background-image: none;
    }
    .rows_banner {
        position: inherit;
        width: auto;
        left: auto;
        top: auto;
        transform: translate(0%, 0%);
        margin-top: 80px;
        padding-bottom: 40px;
    }
    .img_servic {
        width: 200px;
        margin-top: 1em;
    }
    .main_title {
        font-size: 63px;
    }
    .text1_servic {
        font-size: 40px;
        line-height: 46px;
    }
    .text2_servic {
        font-size: 18px;
        line-height: 21px;
    }
    .list_title {
        font-size: 24px;
    }
    .tab_buttons1 a,
    .tab_buttons2 a {
        width: 135px;
        font-size: 14px;
        margin: 3px;
    }
    .footer h3 {
        font-size: 19px;
    }
    .grid-item {
        width: 290px;
        height: 152px;
    }
    .grid-item img {
        height: 149px;
    }
    .grid-item--height2 {
        height: 301px;
    }
    .grid-item--height2 img {
        height: 298px;
    }
    .grid-item--height3 {
        height: 489px;
    }
    .grid-item--height3 img {
        height: 486px;
    }
    .bottom_content {
        padding-top: 15%;
    }
    .list_menu {
        display: none;
    }
    .inset_menu_top {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .inset_menu_center {
        padding: 0;
    }
    .inset_menu_center h3 {
        font-size: 20px;
    }
    .target_tabs .nav-tabs>li>a {
        font-size: 13px;
        padding: 10px;
    }
    .info_address {
        line-height: 16px;
        font-size: 12px;
        height: 66px;
    }
    .icon_address {
        width: 66px;
    }
    .number_phone {
        font-size: 22px;
        line-height: 25px;
    }
    .email_address {
        line-height: 55px;
        font-size: 22px;
    }
    .bank_details {
        font-size: 26px;
        line-height: 35px;
    }
    .bottom_info {
        font-size: 16px;
    }
    .down_link {
        font-size: 19px;
    }
    .title_mamber {
        font-size: 21px;
    }
    .inside_title {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .img_block {
        height: 140px;
    }
    .link_support p {
        font-size: 13px;
    }
    .img_suuport {
        height: 160px;
        overflow: hidden;
    }
    .img_suuport img {
        height: 160px;
        /*object-fit: cover;*/
    }
    .text_news {
        font-size: 24px;
        line-height: 30px;
    }
    .slider-for img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .slider-nav .slick-slide {
        border: 3px solid transparent;
        outline: none;
    }
    .input_modal {
        width: 88%;
    }
    .info_data table {
        font-size: 17px;
    }
    .info_data td {
        padding: 9px;
    }
    .slider-nav img {
        height: 142.5px;
    }
    .icon_mob a img {
        width: 60px;
        margin-bottom: 5px;
    }
    .icon_mob {
        padding-top: 0;
    }
    .icon_mob p {
        margin-bottom: 0px;
        font-size: 12px;
    }
    .add_advert {
        float: none;
        font-size: 18px;
    }
    .top_block > div {
        width: 50%;
        min-height: 282px;
    }
    .div-class{
        width: 100% !important;
    }
    .content-modal .modal-content {
        background-size: 65px;
    }
    .filter{
        font-size: 13px;
    }
}
@media (max-width: 620px) {
    .img_servic {
        width: 130px;}
}
@media(max-width:400px) {
    .footer{
        margin-top: 50px;
    }
    .share {
        left: 11px;
    }
    .share-pad{
        height: 0;
    }
    .slick-slider {
         padding-bottom: 0;
    }
    .img_reclam {
        height: 120px;
    }
    .main_title {
        font-size: 56px;
    }
    .text1_servic {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 0;
    }
    .text2_servic {
        font-size: 18px;
        line-height: 21px;
    }
    .blocks_top_content {
        min-height: 255px;
    }
    .main_page {
        min-height: 670px;
    }
    .slider_1 div,
    .slider_1 div img {
        margin: 0 auto;
    }
    .grid-item {
        width: 240px;
        height: 112px;
    }
    .grid-item img {
        height: 109px;
    }
    .grid-item--height2 {
        height: 261px;
    }
    .grid-item--height2 img {
        height: 258px;
    }
    .grid-item--height3 {
        height: 409px;
    }
    .grid-item--height3 img {
        height: 406px;
    }
    .inset_menu_center h3 {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .img_block {
        height: 117px;
    }
    .img_suuport {
        height: 130px;
        overflow: hidden;
    }
    .img_suuport img {
        height: 130px;
        /*object-fit: cover;*/
    }
    .link_support p {
        font-size: 11px;
    }
    .blocks_directions {
        width: 100%;
        margin-left: 0;
    }
    .share a img {
        width: 32px;
    }
    .share a {
        margin-right: 3px;
    }
    .sharies {
        padding: 7px 10px;
        font-size: 18px;
    }
    .text_news {
        font-size: 19px;
        line-height: 30px;
    }
    .slider-for img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .rezume_block {
        height: 164px;
    }
    .name_worker {
        font-size: 18px;
    }
    .search_info {
        width: 100%;
    }
    .input_holders {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .info_data table {
        font-size: 14px;
    }
    .info_data td {
        padding: 7px;
    }
    .sale {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
    }
}